$color-peach:rgb(255, 219, 195);
$color-blue-gradient:rgb(93, 112, 232);
$color-orange-gradient:rgb(252, 176, 69);
$color-dark-grey:rgb(97, 103, 122);
$color-greyish-white:rgb(245, 245, 245);
$color-purple:rgb(170, 129, 243);