.header
{
    &__image
    {
        background-image:url(../images/matte-black-setup.jpg);
        background-position:center;
        background-size: cover;
        height: 40rem;
        
    }    
}

